name: Run Selenium Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          sudo apt-get install -y chromium-chromedriver

      - name: Run tests
        run: |
          pytest tests/ --html=reports/report.html
          
      - name: Upload HTML report
        uses: actions/upload-artifact@v3
        with:
          name: Test-Report
          path: reports/report.html
