name: Python Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Create reports folder
        run: mkdir -p reports

      - name: Install Chrome & ChromeDriver
        run: sudo apt install -y chromium-browser chromium-chromedriver

      - name: Run tests
        run: pytest tests/ --html=reports/report.html

      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: reports/report.html
